<% layout("layouts/boilerplate") %>
<section class="m-auto">
    <h1 class="mb-4">Edita un sonido existente</h1>

    <form action="/sounds/show/<%=sound._id%>?_method=PUT" method="POST" novalidate class="validated-form"><!--Para usar DELETE EDIT con method override/NOVALIDATE para usar o validador de bootstrap--> 
        <div class="row mb-3">
            <label for="name" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" id="name" placeholder="Sonido" name="sound[name]" class="form-control" required value="<%= sound.name %>">
                <div class="valid-feedback">Válido!</div>
            </div>
        </div>

        <div class="row g-2 mb-3">
            <label for="minFrec" class="col-sm-4 col-form-label">Frecuencia mínima:</label>
            <div class="col-sm-8">
                <input type="numer" min="0" id="minFrec" placeholder="dB" name="sound[minFrec]" class="form-control" required value="<%= sound.minFrec %>">
            </div>
        </div>

        <div class="row g-2 mb-3">
            <label for="maxFrec" class="col-sm-4 col-form-label">Frecuencia máxima:</label>
            <div class="col-sm-8">
                <input type="number" min="0" id="maxFrec" placeholder="dB" name="sound[maxFrec]" class="form-control" required required value="<%= sound.maxFrec %>">
            </div>
        </div>

        <div class="row g-2 mb-3">
            <label for="minInt" class="col-sm-4 col-form-label">Intensidad mínima:</label>
            <div class="col-sm-8">
                <input type="number" min="0" id="minInt" placeholder="Hz" name="sound[minInt]" class="form-control" required value="<%= sound.minInt %>">
            </div>
        </div>

        <div class="row g-2 mb-3">
            <label for="maxInt" class="col-sm-4 col-form-label">Intensidad máxima:</label>
            <div class="col-sm-8">
                <input type="number" min="0" id="maxInt" placeholder="Hz" name="sound[maxInt]"  class="form-control" required value="<%= sound.maxInt %>">
            </div>
        </div>

        <div class="row mb-3">
            <label for="category" class="col-sm-2 col-form-label">Categoría:</label>
            <div class="col-sm-10">
            <select id="category" name="sound[category]" class="form-select" required>
                <option disabled selected value>Selecciona la categoría</option>
                <% for(c = 0; c < Categories.length; c++) { %>
                    <option value="<%= Categories[c] %>"><%= Categories[c] %></option>
                <% } %>
            </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="audio" class="col-sm-2 col-form-label">Audio:</label>
            <div class="col-sm-10">
                <input type="string" id="audio" placeholder="www.sonido.com/sonido" name="sound[audio]" class="form-control" value="<%= sound.audio %>">
            </div>
        </div>

        <div class="row mb-3">
            <label for="image" class="col-sm-2 col-form-label">Imagen:</label>
            <div class="col-sm-10">
                <input type="string" id="image" placeholder="www.imagen.com/imagen" name="sound[image]" class="form-control" value="<%= sound.image %>">
            </div>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <button type="reset" class="btn btn-success">Limpiar</button>
    </form>

    <a class="link-success" href="/sounds/show/<%= sound._id %> ">Atrás</a>
</section>