<% layout("layouts/boilerplate") %>
<!--Search-->
<form class="row g-3 m-auto p-lg-5 py-4" action="/sounds/search/" method="GET">
  <div class="col-auto">
    <input type="text" class="form-control" name="name" id="name" placeholder="Nombre del sonido"><!--name="name" será o match para req.query.name-->
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-success">Buscar</button>
  </div>
</form>

<div class="d-flex flex-column justify-content-center abutton gn-items-center py-lg-5">
    <div class="row row-cols-auto justify-content-center abutton gn-items-center">
      <% for(let sound of sounds) { %>
        <div class="col">
          <div class="card mb-3 text-center" style="width: 9rem">
            <img src="<%= sound.image.url %>" class="card-img-top" crossorigin="anonymous" alt="Foto de: <%= sound.name %>">
            <div class="card-body">
              <h5 class="card-title"><%= sound.name %></h5>
              <a href="/sounds/categories/<%=sound.category%>/<%= sound._id %>" class="btn btn-success">Ver datos</a>
            </div>
          </div>
        </div>
      <% }  %>
    </div>
</div>