<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoNo Audiología</title>
</head>
<body>
    <h1>Datos del sonido</h1>
    <ul>
        <li><%= sound.minFrec %> Hz</li>
        <li><%= sound.maxFrec %> Hz</li>
        <li><%= sound.minInt %> dB</li>
        <li><%= sound.maxInt %> dB</li>
        <li><%= sound.category %></li>
    </ul>
    <a href="/sounds">Todos</a>
    <a href="/categories">Categorías</a>
</body>
</html>