<% layout("layouts/boilerplate") %>
    <div class="row row-cols-auto justify-content-center align-items-center pt-3">
        <section class="col">
            <div class="card m-auto">
                <div class="card-header">
                    <%= sound.name %>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Frecuencia mínima: <%= sound.minFrec %> Hz</li>
                    <li class="list-group-item">Frecuencia máxima: <%= sound.maxFrec %> Hz</li>
                    <li class="list-group-item">Intensidad mínima: <%= sound.minInt %> dB</li>
                    <li class="list-group-item">Frecuencia máxima: <%= sound.maxInt %> dB</li>
                    <li class="list-group-item">Categoría: <%= sound.category %>
                    </li>
                    <li class="list-group-item">Creado por: <%= sound.author.username %>
                    </li>
                </ul>
            </div>
            <div>
                <audio class="mt-5" crossorigin="anonymous" controls>
                    <source src="<%= sound.audio.url %>" type="audio/mpeg">
                    Lo sentimos, tu navegador de internet no soporta los elementos de audio.
                </audio>
            </div>
            <div class="d-flex align-items-center justify-content-between pt-4">
                <% if(currentUser && sound.author.equals(currentUser._id)) { %>
                    <!--Evitar que outro usuario poida eliminar. Só o autor-->
                    <form action="/sounds/categories/<%=soundCategory%>/<%= sound._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-dark mb-3">Eliminar</button>
                    </form>
                    <% } %>

                        <% if(currentUser && sound.author.equals(currentUser._id)) { %>
                            <!--Evitar que outro usuario poida eliminar. Só o autor-->
                            <a class="link-success button-edit"
                                href="/sounds/categories/<%=soundCategory%>/<%= sound._id %>/edit"><button
                                    class="btn btn-dark mb-3">Editar</button></a>
                            <% } %>
            </div>
        </section>
        <section class="col image-first">
            <img class="img-fluid img-thumbnail" src="<%=sound.image.url%>" crossorigin="anonymous"
                alt="<%= sound.name %>">
        </section>
    </div>