<% layout("layouts/boilerplate") %>
<div class="d-flex flex-row align-items-center justify-content-evenly">
    <section>
        <div class="card m-auto" style="width: 18rem;">
            <div class="card-header"><%= sound.name %></div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= sound.minFrec %> Hz</li>
                <li class="list-group-item"><%= sound.maxFrec %> Hz</li>
                <li class="list-group-item"><%= sound.minInt %> dB</li>
                <li class="list-group-item"><%= sound.maxInt %> dB</li>
                <li class="list-group-item"><%= sound.category %></li>
                <li class="list-group-item">Creado por: <%= sound.author.username %></li>
            </ul>
        </div>
        <div>
            <audio class="my-3" controls>
                <source src="<%= sound.audio.url %>" type="audio/mpeg">
            Lo sentimos, tu navegador de internet no soporta los elementos de audio.
            </audio>
        </div>

        <% if(currentUser && sound.author.equals(currentUser._id)) { %> <!--Evitar que outro usuario poida eliminar. Só o autor-->
        <form action="/sounds/categories/<%=soundCategory%>/<%= sound._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-success mb-3">Eliminar</button>
        </form>
        <% } %> 

        <% if(currentUser && sound.author.equals(currentUser._id)) { %> <!--Evitar que outro usuario poida eliminar. Só o autor-->
    <a class="link-success" href="/sounds/categories/<%=soundCategory%>/<%= sound._id %>/edit">Editar</a>
        <% } %>
    <a class="link-success" href="/sounds">Todos</a>
    <a class="link-success" href="/sounds/categories">Categorías</a>   
    </section>
    <section>
        <img src="<%=sound.image.url%>" alt="<%= sound.name %>" width="500px">
    </section>
</div>