<% layout("layouts/boilerplate") %>
<h2 class="text-center mb-4">Todos los sonidos</h2> 
<div class="row row-cols-auto h-75 justify-content-center align-items-center">
    <div class="row row-cols-auto justify-content-center align-items-center">
      <!--Loop para ver cards de todos os sons da DB-->
      <% for(let sound of sounds) { %>
        <div class="col">
          <div class="card mb-3 text-center" style="width: 9rem">
            <img src="<%= sound.image.url %>" class="card-img-top" alt="Foto de: <%= sound.name %>">
            <div class="card-body">
              <h5 class="card-title"><%= sound.name %></h5>
              <a href="/sounds/categories/<%=sound.category%>/<%= sound._id %>" class="btn btn-success">Ver datos</a>
            </div>
          </div>
        </div>
      <% }  %>
    </div>
    <!--Paginación-->
    <% if (pages > 0) { %>
      <ul class="pagination text-center">
          <% if (current == 1) { %>
              <li class="disabled"><a>First</a></li>
          <% } else { %>
              <li><a href="/sounds/?page=1">First</a></li>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
              <li class="disabled"><a>...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
              <% if (i == current) { %>
                  <li class="active"><a><%= i %></a></li>
              <% } else { %>
                  <li><a href="/sounds/?page=<%= i %>"><%= i %></a></li>
              <% } %>
              <% if (i == Number(current) + 4 && i < pages) { %>
                  <li class="disabled"><a>...</a></li>
              <% } %>
          <% } %>
          <% if (current == pages) { %>
              <li class="disabled"><a>Last</a></li>
          <% } else { %>
              <li><a href="/sounds/?page=<%= pages %>">Last</a></li>
          <% } %>
      </ul>
  <% } %>
</div>